@media only screen and (min-width: 1201px){
    main {
        #categories{
            #mobile_tabs{
                display: none;
            }
        }
    }
    #order{
        #mobile_order_button{
            display: none;
        }
    }
}

@media only screen and (max-width: 1200px){
    main {
        #categories{
            #desktop_tabs {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .desktop_tab{
                    margin: 8px;

                    &:hover{
                        color: #FF4E4E;
                        border: none;
                    }
                }
            }
            #mobile_tabs{
                display: none;
            }
        }
        #pizzas_grid{
            grid-template-columns: repeat(2, 1fr);

            .pizza_element{
                img{
                    width: 260px;
                    height: 163px;;
                }
            }
        }
    }

    #order{
        #mobile_order_button{
            display: none;
        }
    }
}

@media only screen and (max-width: 992px){
    #order{
        max-width: 250px;
    }
}

@media only screen and (max-width: 768px){
    body{
        display: inline-block;
        padding: 39px;
        width: 100%;
    }

    #mobile_nav{
        display: flex;
        justify-content: space-between;
    }

    #desktop_nav{
        display: none;
    }
    
    main {
        #search{
            display: none;
        }

        #categories{
            #desktop_title{
                display: none;
            }

            #mobile_title{
                display: inline-block;
            }

            #desktop_tabs{
                display: none;
            }
    
            #mobile_tabs{
                display: flex;
            }
        }

        #pizzas_grid{
            justify-items:center;

            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2vw;

            .pizza_element{
                img{
                    width: 260px;
                    height: 163px;;
                }
            }
        }
    }

    #order{
        margin-top: 94px;
        background-color: white;
        padding: 0;
        width: 100%;
        max-width: none;
        align-items: center;

        #order_checkout{
            svg{
                display: none;
            }
        }

        #warning_advice{
            max-width: none;
            width: 100%;
            margin-top: 16px;
        }

        #mobile_order_button{
            display: inline-block;
        }
    }
}

@media only screen and (max-width: 480px){
    main{
        #pizzas_grid {
            .pizza_element{
                width: 190px;

                img{
                    width: 190px;
                    height: 130px;
                }
            }
        }
    }
}